In [3]:
# x = set(<iter>)
x = set(['foo', 'bar', 'baz', 'foo', 'qux'])
x
x = {'foo', 'bar', 'baz', 'foo', 'qux'}
x

{'bar', 'baz', 'foo', 'qux'}

{'bar', 'baz', 'foo', 'qux'}

In [4]:
# accesing set like list is not allowed
x[0]

TypeError: 'set' object is not subscriptable

In [5]:

#You cannot access items in a set by referring to an index or a key.

# But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.
# 
# 
for i in x:
    print(i)

{'bar', 'baz', 'foo', 'qux'}

In [6]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'cherry', 'orange', 'banana'}

In [7]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'orange', 'kiwi', 'banana', 'cherry'}

In [5]:
# Sets are not changeable in place.
l1 = [1,2,3,4]
l1[0] =11
s1 = {1,2,3,4}

In [8]:
s1.remove(1)

In [10]:
s1

{2, 3, 4}

In [12]:
s1.update([234])

In [13]:
s1

{2, 3, 4, 234}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

In [15]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

z2 = x.union(y)
z2
print(z)

{'apple', 'banana', 'cherry', 'google', 'microsoft'}

{'apple'}

add()	Adds an element to the set
clear()	Removes all the elements from the set
copy()	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	Remove the specified item
intersection()	Returns a set, that is the intersection of two other sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	Returns whether two sets have a intersection or not
issubset()	Returns whether another set contains this set or not
issuperset()	Returns whether this set contains another set or not
pop()	Removes an element from the set
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update the set with the union of this set and others

In [ ]:
x = {1,2,3,4}
y = {4,5,6,7}
z = {8}
print("Original set elements:")
print(x)
print(y)
print(z)
print("\nConfirm two given sets have no element(s) in common:")
print("\nCompare x and y:")
print(x.isdisjoint(y))
print("\nCompare x and z:")
print(z.isdisjoint(x))
print("\nCompare y and z:")
print(y.isdisjoint(z))

In [ ]:
len
# 
how to access 
how to get keys
how to keep them in for loop