In [1]:
import pandas as pd
df1 = pd.read_excel('ADMNREGISTER.xlsx', "TEMPLATESHEET", skiprows =5, nrows =2000, usecols = "A:Z",na_filter=False)

In [2]:
df1.head()

,S.No,ADMN,DOST ID,H.T.NO,Applicant Name,Identification Marks1,Identification Marks2,Course,Fathername,Mothername,...,Caste,Second language,Religion,PH Category,Address,Date Of Joining,Mobile Number,CellNumber /Remarks,Start_Year,End_Year
0,1,1267,TI1314233034,606922111001,ADEPU NAVEEN KUMAR,A MOLE ON THE CHIN,A MOLE ON THE RIGHT HAND,B.A(EPP),ADEPU KISTAIAH,ADEPU KANAKAVVA,...,BC-B,Telugu,Hindu,NA,"5-39/a, gopalpur-GOPALPUR-JAGDEVPUR-SIDDIPET-5...",2022-10-30,9908679401,,2022,
1,2,1268,TI2147208406,606922111002,AMBALLA ARUN,NA,,B.A(EPP),AMBALLA YELLAIAH,AMBALLA NAGALAXMI,...,BC-B,Telugu,Hindu,NA,"3-28, MANTHUR-MANTOOR-RAIPOLE-SIDDIPET-502279",2022-10-15,8185947169,,2022,
2,3,1269,TI2247501440,606922111004,ARIKELA UPENDAR,A MOLE ON CHIN,NO,B.A(EPP),ARIKELA SRINIVAS,ARIKELA LAXMI,...,BC-D,Telugu,Hindu,NA,"6-93, ahmadipur-AHMADIPUR-GAJWEL-SIDDIPET-502278",2022-09-21,8978582302,,2022,
3,4,1270,TI2247204278,606922111005,BANDARI ASHWINI,NA,,B.A(EPP),BANDARI SWAMY,BANDARI LAXMI,...,SC,Telugu,Hindu,NA,"2-2, RAMCHANDRAPUR-RAMACHANDRAPUR-JAGDEVPUR-SI...",2022-09-22,6304428100,,2022,
4,5,1271,TI2247501957,606922111007,BANOTH PRAVEEN,NA,,B.A(EPP),BANOTH RAJU,BANOTH MANGAMMA,...,ST,Telugu,Hindu,NA,"0-0, VEMULAGHAT-VEMULAGHAT-THOGUTA-SIDDIPET-50...",2022-09-18,7995867913,,2022,

In [5]:
from datetime import datetime
a = datetime.now()
a

datetime.datetime(2023, 3, 10, 18, 0, 24, 947053)

In [6]:
a.month

3

In [8]:
a =3
list(str(a))

['3']