In [ ]:
print('id: ', 1)
print('First Name: ', 'Steve')
print('Last Name: ', 'Jobs')

In [ ]:
if 100 > 99 and \
    200 <= 300 and \
    True != False:
        print('Hello World!')

In [ ]:
if 100 > 99 and 200 <= 300 and True != False:
        print('Hello World!')

In [ ]:
str1 = """This s a really long line,
but we can make it across multiple lines."""
print("The given string is ")
print(str1)
print("Wrapping the given input")
res = 'This s a really long line,', \
'but we can make it across multiple lines.' #Wrapping the line using backslash
print(res)

In [1]:
def al():
    print("aasdfd")
    print("adsf")
    print()

In [3]:
a = {
    "sachin" : 45,
    "kohli" : 61
}

45

In [5]:
a["sachin"]= a["sachin"]+1

In [6]:
a["sachin"]

46

In [8]:
i =20
print("asdf"+str(i))

TypeError: can only concatenate str (not "int") to str